version: '3.8'

services:
  backend:
    build: .
    container_name: auth_backend
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - database
    networks:
      - app_network

  database:
    image: postgres:15
    container_name: auth_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: authdb
    ports:
      - "5433:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - app_network

volumes:
  db_data:

networks:
  app_network:
